@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        PhotoHunt Way<br />
        Wisconsin Dells, WI 53965<br />
        <abbr title="Phone">P:</abbr>
        800.555.0100
    </address>

    
</div>