@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>PhotoHunt</h1>
    <p class="lead">PhotoHunt is a reverse stock photo site.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h2>Start a Hunt</h2>
        <p>Register for an account. Add a description of what you would like to see and then wait for the photos to start coming in. </p>
    </div>
    <div class="span4">
        <h2>Post your prey.</h2>
        <p>Post a photo to a hunt and see if what you got is what the requester needed.</p>
    </div>
    <div class="span4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>